<div class="container">
  <div class="row">
    <div class="my-box col-3"></div>

    <div class="my-box col-auto">
      <h1>Welcome to <i class="fa-solid fa-book"></i><span class="font-weight-bolder"></span>Bookers!</h1>
    </div>
  <div class="my-box col-3"></div>
</div>